*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul{
	list-style-type: none;
}

a{
	text-decoration: none;
}

header{
	background-color: #0020F4;
	align-items: center;
	justify-content: center;
	max-width: 1920px;
	max-height: 1080px;
	padding: 30px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 2;
}
header a > img{
	padding-top: 40px;
	padding-left:240px;
}

.navigation{
	font-size: 16px;
	margin-top: -90px;
	margin-left:650px;
}
.navigation
.navigation-li{

	display: inline-block;
	margin-left: ;
}
.navigation-li a {
	font-size: 16px;
	color: #FFFFFF;
	margin: 35px;
}
.contact{
	display: inline-block;
	margin: 35px;
}
.contact a {
		background-color: #FFFFFF;;
		color: #171717;
		border-radius: 30px;
		padding-top: 18px;
		padding-right: 43px;
		padding-bottom: 18px;
		padding-left: 43px;
}
.container{
	background-color: #0020F4;
}

.container
.firstimg{
	max-width: 707px;
	max-height: 597px;
	width:30%;
	margin-top: 280px;
	margin-left: 240px;
	margin-bottom: 203px;
}
.container
.secimg{
	max-width:948px;
	max-height: 700px;
	width: 100%;
	margin-top: 200px;
	margin-bottom: 65px;
	padding-left: 25px;
}
.text{
	position: relative;
	max-width: 463px;
	box-sizing: border-box;
}
.title{

	color: #171717;
	position: absolute;
	margin-top: 98px;
	margin-left: 260px
}
.aboutus {
	text-size-adjust: 16px;
	text-align: center;
	color: #171717;
	position: absolute;
	margin-top: 200px;
	margin-left: 240px;
}
.title p{
	display: inline-block;
	box-sizing: border-box;
}
span{
	color: #0A22F4;
}
.anchor
.smallimg img{
	width: 100%;
	margin-top: 200px;
	margin-left: 550px;
	box-shadow: 10px 10px 10px #0A22F4; inset;
	transform: translate(10px);
}

.services{
	position: relative;
	max-width: 463px;
	box-sizing: border-box;
}

.secondlayer{
	color: #171717;
	position: absolute;
	box-sizing: border-box;
	margin-top: 394px;
	margin-left: 1095px;
}
.secondlayer p{
	display: inline-block;
	max-width: 463px;	
}
.services
.jaluzi img{
	width: 100%;
	margin-top: 614px;
	margin-left: 250px;
	box-shadow: 10px 10px 10px #0A22F4; inset;
	transform: translate(10px);
}




