*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul{
	list-style-type: none;
}

a{
	text-decoration: none;
}
html body{
	max-width: 100%;
	overflow-x: hidden;
}
header{
	background-color: #0020F4;
	padding: 30px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 2;
}
header a > img{
	padding-top: 40px;
	padding-left:240px;
}

.navigation{
	font-size: 16px;
	margin-top: -100px;
	margin-left:550px;
}
.navigation
.navigation-li{
	font-size: 16px;
	display: inline-block;
	margin-left: ;
}
.navigation-li a {
	font-size: 16px;
	color: #FFFFFF;
	margin: 35px;
}
.contact{
	display: inline-block;
	margin: 35px;
}
.contact a {
		background-color: #FFFFFF;;
		color: #171717;
		border-radius: 30px;
		padding-top: 18px;
		padding-right: 43px;
		padding-bottom: 18px;
		padding-left: 43px;
}
.firstimg{
	max-width: 707px;
	max-height: 597px;
	margin-top: 175px;
	margin-right: 25px;
	margin-bottom: 203px;
}
.secimg{
	max-width: 948px;
	max-height: 800px;
	padding-top: 100px;
	padding-left: 1px;
}